@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --gunmetal: #2B303A;
    --blue: #92DCE5;
    --gray: #7C7C7C;
    --orange: #D64933;
    --lavender: #EEE5E9;
}

body html {
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
    background-size: cover;  
    background-position: center;
    width: 100%;
    z-index: 9999;
}

/* Header Style Start */
header {
    padding: 10px 15px;
    background-color: var(--gunmetal);
    color: var(--lavender);
    width: 100%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}
/* Header Style End */